<div class="half left">
  <h2>News</h2>
</div>
<div class="half right">
  <h2>Spring League '09</h2>
</div>
<div class="half-body left">
  <div class="padding">
    <p>Contact us: <strong>dudewinter2008 at gmail.com</strong></p>
  </div>
</div>
<div class="half-body right">
  <div class="padding">
    <p>Contact us: <strong>dudewinter2008 at gmail.com</strong></p>
  </div>
</div>