<h1>Editing league_item</h1>

<% form_for(@league_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @league_item %> |
<%= link_to 'Back', league_items_path %>
