<div class="box">
  <h3>Change the Attributes of this Organization</h3>
</div>
<div class="body">
  <%= render :partial => 'form', :locals => {:organization => @organization, :users => @users} %>
</div>